<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/network-traffic-detection/images/pngegg (1).png" type="image/l-icon">

    <title>Anomal Detection</title>
</head>
<body class="bg-black relative">
    <!--  nav bar starts here  -->
    <nav class="w-full h-16 bg-black bg-green-500 flex justify-between px-4 items-center md:px-4">
        <div class="text-2xl font-bold text-white">A.N.T DETECTION
            
        </div>
        <div class="flex justify-between">
            <a href="about.html" class="inline-block text-white py-2 px-4 mr-2">About</a>
            <a href="helpdesk.html" class="inline-block text-white py-2 px-4 mr-2">Help Desk</a>
            <a href="/network-traffic-detection/ppt/Hackathon.pptx" class="inline-block text-white py-2 px-4 mr-2"  target="_blank">Presentation</a>
            <a href="index.html" class="inline-block bg-black text-white py-2 px-4 rounded">Detect Here</a>
        </div>

    </button>
    </nav>
    <!--  nav bar ends here  -->
    <!--  banner starts here  -->
    <header class="w-full h-auto flex justify-between">
        <div class="flex-1">
            <div class="text-green-500 text-6xl ml-16 mt-24 ps-12 font-bold ">Anomalous Network Traffic Detection            </div>
            <div class="text-lg	mt-6 ml-16 ps-12 font-semibold text-white	">In today's digital age, ensuring the security and integrity
                 of network systems is more <br>crucial than ever. With the increasing complexity and volume of network traffic,<br>
                traditional methods of monitoring  and detecting anomalies are no longer sufficient.<br>
                This is where machine learning (ML) steps in as a game-changer.</div>
                <a href="index.html" class="inline-block mt-10 ml-16 bg-green-500 text-white py-2 px-4 rounded mr-2">Detect Your File here</a>                
        </div>
        <img class="w-auto h-96 mt-24 mr-7" src="/network-traffic-detection/images/img01.png"> 
    </header>
    <!--  banner ENDS here  -->
        <!--  banner starts here  -->
        <header class="w-full h-auto flex justify-between">
            <img class="w-auto h-96 mt-24 ml-4" src="/network-traffic-detection/images/img02.png"> 
            <div class="ml-16">
                <div class="text-green-500 text-6xl mt-32 mr-4 mb-4 ps-12 font-bold ">Over View</div>
                <div class="text-lg	 mt-4 mb-4 mr-3 ps-12 font-semibold text-white">The Network Traffic Analysis project leverages Flask for robust backend functionality
                     and integrates seamlessly with a modern, responsive frontend powered by HTML, Tailwind CSS, and JavaScript. The application allows users to upload CSV
                    files containing network traffic data, initiates automatic analysis to detect anomalies presented as a percentage, and provides a straightforward interface for adding comments to analyses.
</div>
            </div>
            
        </header>
        <!--  banner ENDS here  -->
        <!--  footer  starts here  -->
    <footer class="w-full bg-green-500 mt-8 pt-8 pl-4 flex flex-wrap justify-between text-white">
        <div class="w-1/2 mb-4">
            <h2 class="font-bold text-xl mt-2">A.N.T<br>DETECTION</h2>
            <div class="w-36 h-1 border-r-orange-500 border-b-2 rounded-2xl my-2"></div>
            <div>
            <p><a href="about.html" class="inline-block text-white py-2 px-4 mr-2">About</a></p>
            <p><a href="helpdesk.html" class="inline-block text-white py-2 px-4 mr-2">Help Desk</a></p>
            </div>
        </div>
        <div class="w-1/2 mb-4">
            <h2 class="font-bold text-xl mt-2">Contact Us</h2>
            <div class="w-36 h-1 border-r-orange-500 border-b-2 rounded-2xl my-2"></div>    
            <p>Phone:+91 123-456-7890</p>
            <p>Email: info@ant.com</p>
            <p>Address: Kanakapura Main Road, DSATM College, 560 082</p>
        </div>
    </footer>
    <!--  footer  ends here  -->



</body>
</html>